<h2>Base</h2>

<h1>h1 Title</h1>
<h2>h2 subtitle</h2>
<h3>h3 subtitle</h3>
<h4>h4 subtitle</h4>
<h5>h5 subtitle</h5>
<h6>h6 subtitle</h6>

<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo nihil laboriosam earum eligendi placeat sed
    dignissimos corporis quia doloremque minima. Voluptates aliquam vitae molestiae atque voluptate consequatur nulla.
    Ipsam, voluptatum.</p>

<a class="app-a">Link 1</a>
<a class="app-a">Link 2</a>
<a class="app-a">Link 3</a>
<button class="app-buttom">Buttom</button>

<h3>Input</h3>
<input type="text" class="app-input">

<h2>Mixins</h2>

<h3>Shadow</h3>

<div class="shaow">Shadow mixin</div>

<h3>Card</h3>

<div class="card">Card mixin</div>
